.sidebar
  .logo-area Designer 
  ul.links-area.list-unstyled
    li: a(href="#") Homepage
    li
       a.toggle-submenu(href="#")
        | Forms
        i.fa.fa-angle-right
       ul.child-links.list-unstyled
         li: a(href="#") input
         li: a(href="#") Textarea
         li: a(href="#") Checkbox
         li: a(href="#") Radio    
    li
       a.toggle-submenu(href="#")
        | Misc
        i.fa.fa-angle-right
       ul.child-links.list-unstyled
         li: a(href="#") Loding
         li: a(href="#") Breadcrumbs
             
    