*{
    box-sizing: border-box
}
body{
    font-family: 'Open Sans', sans-serif;
    &.public {
        font-family: 'Public Sans', sans-serif;
    }
    &.roboto {
        font-family: 'Roboto', sans-serif;
    }
    &.source {
        font-family: 'Source Sans Pro', sans-serif;
    }
}
.page{
    min-height:100vh;
    .content-area{
        width: calc(100% - 250px);
        min-height:100vh;
        background-color: #f2f1f6;
        transition: .3s;
        will-change: width;
        float: right;
        &.no-sidebar{
            width: 100%
        }
    }
    .page-head{
        padding: 20px;
        margin-top: 20px;
        .page-title{
          font-weight: bold;
          color: #27ae60;
        }
       
    }
}