- var pageTitle ="Homepage";
doctype html
html(lang="en")
    head
        include pug/layout/meta 
        include pug/layout/styles
    body 
      .page.home-page
         include pug/layout/sidebar
         .content-area
           include pug/layout/header
           .container-fluid
              .content
                include pug/componants/page-head
    include pug/layout/scripts       